body{
    background-color: rgb(245, 234, 220);
    padding: 10vh 10vw;
}
.control-form{
  display: flex;
 justify-content: space-evenly;
 width: 100%;
 margin-bottom: 40px;
}

.item-container{
    border-radius: 15px;
    background-color: rgba(231, 220, 193, 0.966);
   
}
.item-title{

    margin:10px 20px;
}
.description, title{
    margin: 30px;
    
}
.date{
    margin: 20px;
}
.btn-item{
    margin-left: 65vw;
    margin-bottom: 35px;
   position:static;

}

