*{ 
  font-family:Arial, Helvetica, sans-serif;
    
}
body{
 
 text-align: center;

 background-image: linear-gradient(to right top, #2d969c, #268a8e, #207e81, #1a7274, #136667, #105e5e, #0e5756, #0b4f4e, #0b4948, #0b4242, #0b3c3c, #0b3636);
}

 p{
  text-align: center;
  font-size: xx-large;
  
 }

  h1 h2{
    text-align: center;
    } 
    
    .container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      ;
    }
      
    .cont{
      
      justify-content: center;
      display:flex;
      flex-direction:column ;
      background-color:  rgba(154, 164, 219, 0.683);
      align-items: center; 
      margin: 30px;
      border: solid 2px  rgb(106, 114, 167) ;
     
      border-radius: 10px;
      width: 300px;
      height: 250px;
     
      
       
    
    
    } 
    button{
        margin: 7px;
        padding: 15px;
        border: none;
        border-radius: 10px;
       
        font-size: medium;
        background-color:rgb(40, 149, 149) ;
    }